<div class="block">
  <span class="tag is-light">Created on <%= made_on(@game) %></span>
  <% if @game.stopped? %>
    <span class="tag is-danger">Finished</span>
    <br/>
  <% elsif @game.started? %>
    <span class="tag is-success">In Progress</span>
    <br/>
  <% else %>
    <span class="tag is-info">Ready</span>
    <br/>
  <% end %>
</div>
