<li>
  <% if page.current? %>
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'pagination-link is-current' %>
  <% else %>
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'pagination-link' %>
  <% end %>
</li>
