<div class="block">
  <div class="card">
    <div class="card-content">
      <div class="columns is-centered">
        <div class="column has-text-centered is-12">
          <p class="is-size-1">
            <%= @card.front %>
          </p>
        </div>
      </div>
    </div>

    <hr class="navbar-divider">

    <footer class="card-content">
      <div class="columns is-centered">
        <div class="column has-text-centered is-2">
          <p class="is-size-5">
            <%= @card.back %>
          </p>
        </div>
      </div>
    </footer>
  </div>
</div>

<%= link_to 'Add more cards', new_deck_card_path(@deck, @card), class: "button is-dark" %>
<%= link_to 'Edit', edit_deck_card_path(@deck), class: "button is-light" %>
