<div class="notification">
  <div class="content is-normal">
    <p>
      <strong>Benkyou (勉強)</strong> is a online flashcard organizer and a fun way to study with friends and compare scores!
    </p>

    <h2>How to use</h2>
    <ul>
      <li>Login / Sign-up via Google</li>
      <li>Take a look at the decks or create a new deck</li>
      <li>Keep your deck names highly verbose</li>
      <li>Add cards to the deck (like you would in Anki)</li>
      <li>Create a game and select the cards you want to play with</li>
      <li>Make generous use of emojis when naming games</li>
      <li>Add players to your game</li>
      <li>Start!</li>
    </ul>

    <h2>Upcoming features</h2>
    Updated on: <em>10.04.20211</em>
    <ul>
      <li>Bulk upload cards for a deck</li>
      <li>Multimedia cards</li>
      <li>Games with no time limit</li>
    </ul>
  </div>
</div>
